# devportal specific
# we're committing the artifacts, don't need the modules
/dev-portal/node_modules
/dev-portal/coverage
/dev-portal/build
/dev-portal/deployer.config.js
/dev-portal/public/config.js

# misc
npm-debug.log
.DS_Store
packaged.yaml
cognito.js
.idea
.vscode
